@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: var(--font-nunito), sans-serif;  /* Apply the Nunito font */
}

.input-container {
    transition: all 0.3s ease-in-out;
    opacity: 0;
    transform: scale(0.95);
}

.input-container.active {
    opacity: 1;
    transform: scale(1);
}